#header{
    position: fixed;
    background-color: #000000;
    max-width: 250px;
    min-width: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
}

.text-light{
    margin-left: 20px;
}

#header #links{
    position:fixed;
    align-items: center;
    width: 300px;
    bottom: 0;
}

#header #links a {
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    border-color: #000000;
    color: #fff;
    text-decoration: none;
}

#navbar {
    padding: 30px 0 0 0;
}
#navbar * {
    margin: 0;
    padding: 0;
    list-style: none;
}
#navbar > ul > li {
    position: relative;
    white-space: nowrap;
}

#navbar a, #navbar a:focus {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}
#navbar a i, #navbar a:focus i {
    font-size: 24px;
    padding-right: 8px;
    color: #6f7180;
}
#navbar a:hover, #navbar li:hover > a i{
    text-decoration: none;
    color: #fff;
}
#home{
    width: 100%;
    height: 100vh;
    background: url("../img/background.jpg") top center;
    background-size: cover;
}
#home .homecontainer {
    display: flex;
    align-items: center;
    width: 1150px;
    height: 500px;
    border-radius: 200px;
    margin-left: 200px;
    background:rgba(0,0,0, 0.7);
}
#home .homename {
    margin: 0 0 30px 0;
    font-size: 60px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}
#home p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 40px;
    font-family: "Special Elite", monospace;
  }
.section-img {
    max-height: 300px;
    margin: 40px;
    border-radius: 100%;
}
.typed-script::after{
    content: '|';
    margin-left: 0px;
    opacity: 1;
    animation: pipe .9s infinite;
}
@keyframes pipe {
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
main {
    margin-left: 250px;
}
@media (max-width: 1199px) {
    #header {
        left: -300px;
    }
  
    main {
        margin-left: 0;
    }
  }
section {
    padding: 80px 0;
    overflow: hidden;
}
.section-bg_grey {
    background: #bdbdbd;
}
.section-bg_white {
    background: #ffffff;
}
.section-title {
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
    font-family: "Special Elite", monospace;
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    color: #1f1f1f;
}
.section-title::after {
    content: "";
    position: absolute;
    display: block;
    width: 300px;
    height: 3px;
    background: #1d1d1d;
}
.objective {
    padding-bottom: 10px;
    font-size: 35px;
    font-weight: bold;
    font-family: "Special Elite", monospace;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #1f1f1f;
}
.description{
    padding-bottom: 10px;
    font-size: 20px;
    text-align:justify;
    font-weight: bold;
    font-family: "Special Elite", monospace;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #1f1f1f;
}
.about .content ul {
    list-style: none;
    padding: 0;
}
.about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.about .content ul strong {
    margin-right: 10px;
}
.about .content ul i {
    margin-right: 10px;
}
.button-link-linkedin{
    border-color: transparent;
    background-color: transparent;
    color: #0082ca;
    size-adjust: 90px;
}
.resume-containers{
    padding: 0 0 20px 20px;
    max-width: 550px;
    margin-top: -2px;
    border-left: 5px solid #1f1f1f;
    position: relative;
}
.resume-containers h5{
    font-family: "Special Elite", monospace;
    color:  #1f1f1f;
    font-size: 18px;
    font-weight: bold;
}
.resume-containers::before{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    content: "";
    position: absolute;
    left: -15px;
    top: 0;
    border: 4px solid #bdbdbd;
    background: #1f1f1f;
}
.section-subtitle {
    padding-bottom: 10px;
    margin-top: 30px;
    font-size: 33px;
    font-weight: bold;
    font-family: "Special Elite", monospace;
    margin-bottom: 20px;
    padding-bottom: 10px;
    color: #1f1f1f;
}

.resume-container-title{
    font-size: 25px;
    color: #1f1f1f;
    font-family: "Special Elite", monospace;
}

.resume-container-date{
    color: #1f1f1f;
    font-weight: bold;
    font-family: 'Courier New';
    font-size: 13px;
}

.resume-container-localization{
    color: #1f1f1f;
    border-bottom: #1f1f1f;
    font-weight: bold;
    font-family: 'Courier New';
    font-size: 18px;
}

.description-resume{
    font-size: 14px;
    color: #1f1f1f;
    font-weight: bold;
    margin-top: 15px;
    font-family: "Special Elite", monospace;
    text-align:justify;
}
li::marker{
    color: transparent;
}
.skills-countainers{
    padding: 0 0 20x 0;
    max-width: 100%;
    margin-top: 10px;
    position: relative;
}

.skills-container-title{
    font-size: 25px;
    margin-right: 5px;
    color: #1f1f1f;
    font-family: "Special Elite", monospace;
}

.skills-countainers .content{
    align-content: space-between;
}

.skills-countainers ul li{
    margin-bottom: 40px;
}

.percent{
    font-size: 20px;
    font-family: "Special Elite", monospace;
    color: #949494;
}

.skills-progress{
    width: 500px;
    height: 12px;
    background-color:#bdbdbd;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.skills-progress-bar{
    width: 500px;
    height: 12px;
    background-color: #3a3a3a;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.skills-itens{
    display: flex;
}

.skills-icon{
    width: 25px;
    height: 25px;
    display:inline;
    margin-right: 5px;
}

.skills-line{
    width: 700px;
}

.project-link{
    display: flex;
    align-items: center;
    max-width: 900px;
    min-width: 200px;
    height: 60px;
    font-size: 27px;
    background-color: #3a3a3a;
    border-radius: 30px;
    border: 2px #bdbdbd;
    display: flex;
    text-align:center;
}

.project-icon{
    display: flex;
    align-items: center;
    width: 120px;
    border-radius: 50%;
    height: 120px;
}

.portfolio-button{
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    height: 60px;
    color:#bdbdbd;
    font-size: 30px;
    margin-bottom: 0px;
    font-family: "Special Elite", monospace;
    
}

.portfolio-button:hover{
    font-family: "Special Elite", monospace;
    background-color: #3a3a3a;
    color:#bdbdbd;
    font-size: 27px;
    text-decoration: none;
}

a:-webkit-any-link{
    text-decoration:none;
}

.icon{
    margin-right: 5px;
    margin-top: 5px;
}

.contacts{
    display: flex;
    justify-content: center;
}