@media (min-width: 501px) and (max-width: 900px){
    
main {
    margin-left: 110px;
}

#header{
    position: fixed;
    background-color: #000000;
    width: 110px;
    height: 120%;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
}

.language_button{
    margin-top: 5px;
}

.language_button, .language_button> button{
    border: 0px;
    background-color: transparent;
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #fff;
}

#flag-icon{
    display: flex;
    vertical-align: middle;
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

.text-light{
    margin-left: 10px;
    margin-top: 40px;
    font-size: 20px;
}

#nav-list{
    display: none;
}

#navbar {
    padding: 30px 0 0 0;
}
#navbar > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#navbar > ul > li {
    position: relative;
    white-space: nowrap;
}

#navbar > ul > li > a, #navbar > ul > li > a:focus {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 12px;
}
#navbar > ul > li > a i, #navbar > ul > li > a:focus i {
    font-size: 12px;
    padding-right: 8px;
    color: #6f7180;
}
#navbar > ul > li > a:hover, #navbar li:hover > a i{
    text-decoration: none;
    color: #fff;
}

#links{
    position:fixed;
    align-items: center;
    width: 110px;
    bottom: 0;
}

#links>a {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    font-size: 25px;
}

#home{
    width: 100%;
    height: 100vh;
    background: url("../img/background.jpg") top center;
    background-size: cover;
}
.homecontainer {
    display: flex;
    align-items: center;
    max-width: 1150px;
    min-height: 300px;
    border-radius: 70px;
    background:rgba(0,0,0, 0.7);
    animation: moving 4s;
}

@keyframes moving {
    0%{margin-left: 400px; opacity: 0;}
    100%{margin-left:0px; opacity: 1;}
}

.container{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.container.active{
    transform: translateY(0);
    opacity: 1;
}

.home_name {
    margin-top: 20px;
    margin-right:30px;
    padding-right: 40px;
    font-size: 20px;
    color: #fff;
}
#home p {
    color: #fff;
    margin-bottom: 35px;
    font-size: 18px;
    font-family: "Special Elite", monospace;
  }
.section-img {
    max-height: 130px;
    margin: 20px;
    border-radius: 100%;
}

#typed-script{
    margin-right: 30px;
}

#typed-script::after{
    content: '|';
    margin-left: 0px;
    opacity: 1;
    animation: pipe .9s infinite;
}
@keyframes pipe {
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
section {
    overflow: hidden;
    width: 100%;
}
.section-bg_grey {
    padding: 40px 0;
    background: #bdbdbd;
}
.section-bg_white {
    padding: 40px 0;
    background: #ffffff;
}
.section-title {
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: "Special Elite", monospace;
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    color: #1f1f1f;
}
.section-title::after {
    content: "";
    position: absolute;
    display: block;
    width: 300px;
    height: 3px;
    background: #1d1d1d;
}
.objective {
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    font-family: "Special Elite", monospace;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #1f1f1f;
}
.description{
    padding-bottom: 10px;
    font-size: 12px;
    text-align:justify;
    font-weight: bold;
    font-family: "Special Elite", monospace;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #1f1f1f;
}
.about-topics .content ul li strong, .about-topics .content ul li span{
    font-size: 13px;
}

.about .content ul {
    list-style: none;
    padding: 0;
}
#about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.about .content ul strong {
    margin-right: 10px;
}
.about .content ul i {
    margin-right: 10px;
}
.button-link-linkedin{
    border-color: transparent;
    background-color: transparent;
    color: #0082ca;
    size-adjust: 90px;
}
.resume-containers{
    padding: 0 0 20px 20px;
    max-width: 550px;
    margin-top: -2px;
    border-left: 5px solid #1f1f1f;
    position: relative;
}
.resume-containers h5{
    font-family: "Special Elite", monospace;
    color:  #1f1f1f;
    font-size: 18px;
    font-weight: bold;
}
.resume-containers::before{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    content: "";
    position: absolute;
    left: -15px;
    top: 0;
    border: 4px solid #bdbdbd;
    background: #1f1f1f;
}
.section-subtitle {
    padding-bottom: 10px;
    margin-top: 18px;
    font-size: 22px;
    font-weight: bold;
    font-family: "Special Elite", monospace;
    margin-bottom: 12px;
    padding-bottom: 12px;
    position: relative;
    color: #1f1f1f;
}

.resume-container-title{
    font-size: 18px;
    color: #1f1f1f;
    font-family: "Special Elite", monospace;
}

.resume-container-date{
    color: #1f1f1f;
    font-weight: bold;
    font-family: 'Courier New';
    font-size: 12px;
}

.resume-container-localization{
    color: #1f1f1f;
    border-bottom: #1f1f1f;
    font-weight: bold;
    font-family: 'Courier New';
    font-size: 15px;
}

div.resume-container-certification{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 170px;
    border-radius: 10px;
    background-color:#3a3a3a;
    transition: all, 300ms ease;
}

div.resume-container-certification:hover{
    background-color: #ffffff;
    border: #3a3a3a, solid, 5px;
}

.resume-container-certification>a{
    font-size: 17px;
    color:#bdbdbd;
    font-family: "Special Elite", monospace;
}

.resume-container-certification>a:hover{
    color:#3a3a3a;
}

.description-resume{
    font-size: 14px;
    color: #1f1f1f;
    font-weight: bold;
    margin-top: 15px;
    font-family: "Special Elite", monospace;
    text-align:justify;
}
li::marker{
    color: transparent;
}
.skills-countainers{
    justify-content: center;
    padding: 0 0 20x 0;
    max-width: 100%;
    margin-top: 10px;
    position: relative;
}

.skills-countainers .about{
    display: flex;
    height: 24px;
}

.skills-container-title{
    margin: 0px;
    display: flex;
    text-align: center;
    font-size: 14px;
    margin-right: 5px;
    color: #1f1f1f;
    font-family: "Special Elite", monospace;
}

.skills-countainers .content{
    display:block;
    width: 500px;
    margin-right: 30px;
    
}

.skills-countainers ul li{
    margin-bottom: 40px;
}

.percent{
    margin: 0px;
    font-size: 14px;
    font-family: "Special Elite", monospace;
    color: #949494;
}

.skills-progress{
    width: 350px;
    height: 12px;
    background-color:#bdbdbd;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.skills-progress-bar{
    width: 350px;
    height: 12px;
    background-color: #3a3a3a;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.skills-itens{
    display: flex;
}

.skills-icon{
    width: 15px;
    height: 15px;
    display:inline;
    margin-right: 5px;
}

.project-link{
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #3a3a3a;
    border-radius: 30px;
    border: 2px #bdbdbd;
    transition: all, 300ms ease;
}

.project-link:hover{
    background-color: #ffffff;
}

.project-icon{
    display: flex;
    align-items: center;
    width: 80px;
    border-radius: 50%;
    height: 80px;
}

.portfolio-button{
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    padding-right: 10px;
    height: 50px;
    color:#bdbdbd;
    font-size: 115%;
    margin-bottom: 0px;
    font-family: "Special Elite", monospace;
    transition: all, 300ms ease;    
}

.portfolio-button:hover{
    color:#3a3a3a;
}

a:-webkit-any-link{
    text-decoration:none;
}

.icon{
    margin-right: 5px;
    margin-top: 5px;
}

.contacts{
    display: flex;
    justify-content: center;
}

.contacts>p{
    font-size: 16px;
    margin-bottom: 0px;
    align-self: center;
}

.contact{
    display: flex;
    justify-content: center;
    font-size: 11px;
}

#portfolio_section{
    width: 100%;
    height: 150px;

}

.title_portfolio{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #3a3a3a;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-bottom: 30px;
    
}

.title_portfolio h1{
    color: #ffffff;
    font-family: "Special Elite", monospace;
    font-size: 40px;
}

form li{
    display: flex;
    justify-content: center;
    padding: 15px;
}

.item_portfolio{
    max-width: 1200px;
    min-height: 100px;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    animation: movingportfolio 5s;
}

@keyframes movingportfolio {
    0%{margin-top: 300px; opacity: 0;}
    100%{margin-top:0px; opacity: 1;}
}

.content_portfolio{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.item_name{
    padding-bottom: 10px;
    text-align: center;
    font-family: "Special Elite", monospace;
}

.portfolio_img{
    min-width: 300px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.description_port{
    min-width: 300px;
    width: 100%;
    font-size: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: #3a3a3a;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}

.description_item{
    text-align: justify;
    font-family: "Special Elite", monospace;
}
}
@media (max-height: 550px) and (max-width: 900px) {
main {
    margin-left: 130px;
}
#header{
    position: fixed;
    background-color: #000000;
    width: 130px;
    height: 120%;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
}
#navbar {
    display: block;
    padding: 0px;
}
.text-light{
    margin-left: 10px;
    margin-top: 20px;
    font-size: 20px;
}
#navbar> ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#navbar > ul > li {
    position: relative;
    white-space: nowrap;
}
#navbar > ul > li> a, #navbar > ul > li> a:focus {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 4px 5px;
    margin-bottom: 4px;
    transition: 0.3s;
    font-size: 12px;
}
#navbar > ul > li> a i, #navbar > ul > li> a:focus i {
    font-size: 12px;
    padding-right: 8px;
    color: #6f7180;
}
#navbar > ul > li> a:hover, #navbar > ul > li:hover > a i{
    text-decoration: none;
    color: #fff;
}
#links{
    position:fixed;
    align-items: center;
    width: 130px;
    bottom: 0;
}

#header #links a {
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    border-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 25%;
    font-size: 10px;
}
}

/*********************************************************************************************************/
@media(max-width: 500px){

#header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #000000;
    width: 100%;
    z-index: 1030;
    flex-wrap: wrap;
}

.language_button{
    margin-top: 5px;
}

.language_button, .language_button> button{
    height: 18px;
    border: 0px;
    background-color: transparent;
    font-size: 10px;
    display: flex;
    color: #fff;
}

#flag-icon{
    display: flex;
    vertical-align: middle;
    border-radius: 50%;
    width: 14px;
    height: 14px;
}

.text-light{
    margin-left: 5px;
    margin-top: 13px;
    font-size: 25px;
}

#nav-list{
    padding: 0px;
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: transparent;
    border: #3a3a3a, solid, 5px;
}

#navbar {
    display: none;
    padding: 0 0 0 0;
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
#navbar > ul {
    padding: 10px;
    margin: 0;
    list-style: none;
}
#navbar > ul > li {
    position: relative;
    white-space: nowrap;
}

#navbar > ul > li > .nav-link {
    padding: 1px;
    font-size: 16px;
}

#navbar > ul > li > a, #navbar > ul > li > a:focus {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    transition: 0.3s;
}
#navbar > ul > li > a i, #navbar > ul > li > a:focus i {
    font-size: 12px;
    padding-right: 8px;
    color: #6f7180;
}
#navbar > ul > li > a:hover, #navbar li:hover > a i{
    text-decoration: none;
    color: #fff;
}

#links{
    display: flex;
    justify-content: center;
}

#header #links a {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    font-size: 15px;
}

#home{
    width: 100%;
    height: 100vh;
    background: url("../img/background.jpg") top center;
    background-size: cover;
}
.homecontainer {
    justify-items: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 335px;
    min-height: 300px;
    border-radius: 80px;
    background:rgba(0,0,0, 0.7);
    animation: moving 4s;
}

@keyframes moving {
    0%{margin-left: 400px; opacity: 0;}
    100%{margin-left:0px; opacity: 1;}
}

.container{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.container.active{
    transform: translateY(0);
    opacity: 1;
}

.home_name {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
}
#home p {
    color: #fff;
    margin-bottom: 40px;
    font-size: 16px;
    font-family: "Special Elite", monospace;
}
.section-img {
    max-height: 160px;
    margin: 20px;
    border-radius: 100%;
}

#typed-script{
    margin-right: 20px;
    margin-left: 20px;
}

#typed-script::after{
    content: '|';
    margin-left: 0px;
    opacity: 1;
    animation: pipe .9s infinite;
}
@keyframes pipe {
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
section {
    overflow: hidden;
    width: 100%;
}
.section-bg_grey {
    padding: 30px 0;
    background: #bdbdbd;
}
.section-bg_white {
    padding: 30px 0;
    background: #ffffff;
}
.section-title {
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: "Special Elite", monospace;
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    color: #1f1f1f;
}
.section-title::after {
    content: "";
    position: absolute;
    display: block;
    width: 300px;
    height: 3px;
    background: #1d1d1d;
}
.objective {
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    font-family: "Special Elite", monospace;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #1f1f1f;
}
.description{
    padding-bottom: 10px;
    font-size: 17px;
    text-align:justify;
    font-family: "Special Elite", monospace;
    margin-bottom: 20px;
    padding-bottom: 10px;
    position: relative;
    color: #1f1f1f;
}
.about-topics .content ul li strong, .about-topics .content ul li span{
    font-size: 13px;
}

.about .content ul {
    list-style: none;
    padding: 0;
}
#about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.about .content ul strong {
    margin-right: 10px;
}
.about .content ul i {
    margin-right: 10px;
}
.button-link-linkedin{
    border-color: transparent;
    background-color: transparent;
    color: #0082ca;
    size-adjust: 90px;
}
.resume-containers{
    padding: 0 0 20px 20px;
    max-width: 550px;
    margin-top: -2px;
    border-left: 5px solid #1f1f1f;
    position: relative;
}
.resume-containers h5{
    font-family: "Special Elite", monospace;
    color:  #1f1f1f;
    font-size: 18px;
    font-weight: bold;
}
.resume-containers::before{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    content: "";
    position: absolute;
    left: -15px;
    top: 0;
    border: 4px solid #bdbdbd;
    background: #1f1f1f;
}
.section-subtitle {
    padding-bottom: 10px;
    margin-top: 18px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Special Elite", monospace;
    margin-bottom: 12px;
    padding-bottom: 12px;
    position: relative;
    color: #1f1f1f;
}

.resume-container-title{
    font-size: 16px;
    color: #1f1f1f;
    font-family: "Special Elite", monospace;
}

.resume-container-date{
    color: #1f1f1f;
    font-weight: bold;
    font-family: 'Courier New';
    font-size: 12px;
}

.resume-container-localization{
    color: #1f1f1f;
    border-bottom: #1f1f1f;
    font-weight: bold;
    font-family: 'Courier New';
    font-size: 15px;
}

div.resume-container-certification{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 140px;
    border-radius: 10px;
    background-color:#3a3a3a;
    transition: all, 300ms ease;
}

div.resume-container-certification:hover{
    background-color: #ffffff;
    border: #3a3a3a, solid, 5px;
}

.resume-container-certification>a{
    font-size: 13px;
    color:#bdbdbd;
    font-family: "Special Elite", monospace;
}

.resume-container-certification>a:hover{
    color:#3a3a3a;
}

.description-resume{
    font-size: 14px;
    color: #1f1f1f;
    font-weight: bold;
    margin-top: 15px;
    font-family: "Special Elite", monospace;
    text-align:justify;
}
li::marker{
    color: transparent;
}
.skills-countainers{
    justify-content: center;
    padding: 0 0 20x 0;
    max-width: 100%;
    margin-top: 10px;
    position: relative;
}

.skills-countainers .about{
    display: flex;
    height: 24px;
}

.skills-container-title{
    margin: 0px;
    font-size: 14px;
    margin-right: 5px;
    color: #1f1f1f;
    font-family: "Special Elite", monospace;
}

.skills-countainers .content{
    display:block;
    width: 500px;
    margin-right: 30px;
    
}

.skills-countainers ul li{
    margin-bottom: 40px;
}

.percent{
    margin: 0px;
    font-size: 12px;
    font-family: "Special Elite", monospace;
    color: #949494;
}

.skills-progress{
    width: 100%;
    height: 12px;
    background-color:#bdbdbd;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.skills-progress-bar{
    width: 100%;
    height: 12px;
    background-color: #3a3a3a;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.skills-itens{
    display: flex;
}

.skills-icon{
    width: 15px;
    height: 15px;
    display:inline;
    margin-right: 5px;
}

.project-link{
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #3a3a3a;
    border-radius: 30px;
    transition: all, 300ms ease;
}

.project-link:hover{
    background-color: #ffffff;
}

.project-icon{
    display: flex;
    align-items: center;
    width: 80px;
    border-radius: 50%;
    height: 80px;
}

.portfolio-button{
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    margin-right: 10px;
    height: 50px;
    color:#bdbdbd;
    font-size: 100%;
    margin-bottom: 0px;
    font-family: "Special Elite", monospace;
    transition: all, 300ms ease;    
}

.portfolio-button:hover{
    color:#3a3a3a;
}

a:-webkit-any-link{
    text-decoration:none;
}

.icon{
    margin-right: 5px;
    margin-top: 5px;
}

#contact > .container > .row > .d-flex{
    justify-items: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contacts{
    display: flex;
    justify-content: center;
}

.contacts>p{
    font-size: 16px;
    margin-bottom: 0px;
    align-self: center;
}

.contact{
    display: flex;
    justify-content: center;
    font-size: 14px;
}

#portfolio_section{
    width: 100%;
    height: 150px;

}

.title_portfolio{
    margin-top: 67px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #3a3a3a;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-bottom: 20px;
    
}

.title_portfolio h1{
    color: #ffffff;
    font-family: "Special Elite", monospace;
    font-size: 20px;
}

form li{
    display: flex;
    justify-content: center;
    padding: 15px;
}

.item_portfolio{
    max-width: 1200px;
    min-height: 100px;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    animation: movingportfolio 5s;
}

@keyframes movingportfolio {
    0%{margin-top: 300px; opacity: 0;}
    100%{margin-top:0px; opacity: 1;}
}

.content_portfolio{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.item_name{
    font-size: 14px;
    padding-bottom: 10px;
    text-align: center;
    font-family: "Special Elite", monospace;
}

.portfolio_img{
    min-width: 100px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
}

.description_port{
    min-width: 100px;
    width: 100%;
    font-size: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #3a3a3a;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

.description_item{
    text-align: justify;
    font-family: "Special Elite", monospace;
}
}
