@media (min-width: 1450px){

main {
    margin-left: 250px;
}

#header{
    position: fixed;
    background-color: #000000;
    width: 250px;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
}

.language_button{
    margin-top: 5px;
}

.language_button, .language_button> button{
    border: 0px;
    background-color: transparent;
    font-size: 16px;
    display: flex;
    justify-content: center;
    color: #fff;
}

#flag-icon{
    display: flex;
    vertical-align: middle;
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.text-light{
    margin-left: 20px;
    margin-top: 40px;
    font-size: 30px;
}

#nav-list{
    display: none;
}

#header #links{
    position:fixed;
    align-items: center;
    width: 300px;
    bottom: 0;
}

#header #links a {
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    border-color: #000000;
    color: #fff;
    text-decoration: none;
}

#navbar {
    padding: 30px 0 0 0;
}
#navbar > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#navbar > ul > li {
    position: relative;
    white-space: nowrap;
}

#navbar > ul > li > a, #navbar > ul > li > a:focus {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}
#navbar > ul > li > a i, #navbar > ul > li > a:focus i {
    font-size: 24px;
    padding-right: 8px;
    color: #6f7180;
}
#navbar > ul > li > a:hover, #navbar > ul > li:hover > a i{
    text-decoration: none;
    color: #fff;
}
#home{
    width: 100%;
    height: 100vh;
    background: url("../img/background.jpg") top center;
    background-size: cover;
}
.homecontainer {
    display: flex;
    align-items: center;
    width: 1150px;
    min-height: 500px;
    max-height: 1000px;
    border-radius: 200px;
    background:rgba(0,0,0, 0.7);
    animation: moving 4s;
}

@keyframes moving {
    0%{margin-left: 600px; opacity: 0;}
    100%{margin-left:0px; opacity: 1;}
}

.container{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.container.active{
    transform: translateY(0);
    opacity: 1;
}

.home_name {
    margin: 0 0 30px 0;
    padding-right: 40px;
    font-size: 50px;
    font-weight: 700;
    text-size-adjust: 30%;
    line-height: 56px;
    color: #fff;
}
#home p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 40px;
    font-family: "Special Elite", monospace;
}
.section-img {
    max-height: 300px;
    margin: 40px;
    border-radius: 100%;
}
#typed-script{
    margin-right: 30px;
}

#typed-script::after{
    content: '|';
    margin-left: 0px;
    opacity: 1;
    animation: pipe .9s infinite;
}
@keyframes pipe {
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
section {
    overflow: hidden;
    width: 100%;
}
.section-bg_grey {
    padding: 80px 0;
    background: #bdbdbd;
}
.section-bg_white {
    padding: 80px 0;
    background: #ffffff;
}
.section-title {
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
    font-family: "Special Elite", monospace;
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    color: #1f1f1f;
}
.section-title::after {
    content: "";
    position: absolute;
    display: block;
    width: 300px;
    height: 3px;
    background: #1d1d1d;
}
.objective {
    padding-bottom: 10px;
    font-size: 35px;
    font-weight: bold;
    font-family: "Special Elite", monospace;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #1f1f1f;
}
.description{
    padding-bottom: 10px;
    font-size: 20px;
    text-align:justify;
    font-weight: bold;
    font-family: "Special Elite", monospace;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #1f1f1f;
}
.about .content ul {
    list-style: none;
    padding: 0;
}
.about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.about .content ul strong {
    margin-right: 10px;
}
.about .content ul i {
    margin-right: 10px;
}
.button-link-linkedin{
    border-color: transparent;
    background-color: transparent;
    color: #0082ca;
    size-adjust: 90px;
}
.resume-containers{
    padding: 0 0 20px 20px;
    max-width: 550px;
    margin-top: -2px;
    border-left: 5px solid #1f1f1f;
    position: relative;
}
.resume-containers h5{
    font-family: "Special Elite", monospace;
    color:  #1f1f1f;
    font-size: 18px;
    font-weight: bold;
}
.resume-containers::before{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    content: "";
    position: absolute;
    left: -15px;
    top: 0;
    border: 4px solid #bdbdbd;
    background: #1f1f1f;
}
.section-subtitle {
    padding-bottom: 10px;
    margin-top: 30px;
    font-size: 33px;
    font-weight: bold;
    font-family: "Special Elite", monospace;
    margin-bottom: 20px;
    padding-bottom: 10px;
    color: #1f1f1f;
}

.resume-container-title{
    font-size: 25px;
    color: #1f1f1f;
    font-family: "Special Elite", monospace;
}

.resume-container-date{
    color: #1f1f1f;
    font-weight: bold;
    font-family: 'Courier New';
    font-size: 13px;
}

.resume-container-localization{
    color: #1f1f1f;
    border-bottom: #1f1f1f;
    font-weight: bold;
    font-family: 'Courier New';
    font-size: 18px;
}

.resume-container-certification{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    background-color:#3a3a3a;
    transition: all, 300ms ease;
}

.resume-container-certification:hover{
    background-color: #ffffff;
    border: 1px solid #3a3a3a;
}

.resume-container-certification:hover>a{
    color: #1f1f1f;
}

.resume-container-certification>a{
    font-size: 20px;
    color:#bdbdbd;
    font-family: "Special Elite", monospace;
}

.description-resume{
    font-size: 14px;
    color: #1f1f1f;
    font-weight: bold;
    margin-top: 15px;
    font-family: "Special Elite", monospace;
    text-align:justify;
}
li::marker{
    color: transparent;
}
.skills-countainers{
    padding: 0 0 20x 0;
    max-width: 100%;
    margin-top: 10px;
    position: relative;
}

.skills-container-title{
    margin: 0px;
    display: flex;
    text-align: center;
    font-size: 25px;
    margin-right: 5px;
    color: #1f1f1f;
    font-family: "Special Elite", monospace;
}

.skills-countainers .content{
    display:block;
    width: 500px;
    margin-right: 30px;
    margin-left: 30px;
}

.skills-countainers ul li{
    margin-bottom: 40px;
}

.percent{
    margin: 0px;
    font-size: 20px;
    font-family: "Special Elite", monospace;
    color: #949494;
}

.skills-progress{
    width: 500px;
    height: 12px;
    background-color:#bdbdbd;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.skills-progress-bar{
    width: 500px;
    height: 12px;
    background-color: #3a3a3a;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.skills-itens{
    display: flex;
}

.skills-icon{
    width: 25px;
    height: 25px;
    display:inline;
    margin-right: 5px;
}


.project-link{
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #6e6e6e;
    border: 6px solid #ffffff;
    border-radius: 40px;
    white-space: nowrap;
    transition: all, 300ms ease;
}

.project-link:hover{
    background-color: #ffffff;
    border: 6px solid #3a3a3a;
}

.project-link:hover>.portfolio-button{
    color: #1f1f1f;
}

.project-icon{
    display: flex;
    align-items: center;
    width: 70px;
    border-radius: 35px;
    height: 70px;
}

.portfolio-button{
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 20px;
    height: 60px;
    color:#ffffff;
    font-size: 200%;
    margin-bottom: 0px;
    font-family: "Special Elite", monospace;
    transition: all, 300ms ease;
}

a:-webkit-any-link{
    text-decoration:none;
}

.icon{
    margin-right: 5px;
    margin-top: 5px;
}

.contacts{
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.contact{
    display: flex;
    justify-content: center;
}

#portfolio_section{
    width: 100%;
    height: 150px;

}

.title_portfolio{
    height: 130px;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #3a3a3a;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-bottom: 50px;
    
}

.title_portfolio h1{
    color: #ffffff;
    font-family: "Special Elite", monospace;
    font-size: 50px;
}

form li{
    display: flex;
    justify-content: center;
    padding: 15px;
}

.item_portfolio{
    width: 1200px;
    height: 465px;
    justify-content:flex-start;
    background-color: #ffffff;
    border-radius: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    animation: movingportfolio 5s;
}

@keyframes movingportfolio {
    0%{margin-top: 400px; opacity: 0;}
    100%{margin-top:0px; opacity: 1;}
}

.content_portfolio{
    display:flex;
    justify-content:flex-start;
}

.item_name{
    padding-bottom: 10px;
    text-align: center;
    font-family: "Special Elite", monospace;
}

.portfolio_img{
    max-width: 700px;
    border-radius: 5px;
}

.description_port{
    border-width: 2px;
    border-style: solid;
    border-color: #3a3a3a;
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px;
}

.description_item{
    text-align: justify;
    font-family: "Special Elite", monospace;
}

.git_button{
    border: 1px solid #ffffff;
    background-color: #3a3a3a;
}

.git_button>i{
    color:#ffffff;
}

.git_button:hover{
    background-color: #bdbdbd;
    border: 1px solid #3a3a3a;
}

.git_button:hover>i{
    color: #1f1f1f;
}
}
/*****************************************************************************************************************/

@media (min-width: 900px) and (max-width: 1450px){
    
main {
    margin-left: 180px;
}

#header{
    position: fixed;
    background-color: #000000;
    width: 180px;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
}

.language_button{
    margin-top: 5px;
}

.language_button, .language_button> button{
    border: 0px;
    background-color: transparent;
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #fff;
}

#flag-icon{
    display: flex;
    vertical-align: middle;
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

.text-light{
    margin-left: 10px;
    margin-top: 40px;
    font-size: 30px;
}

#nav-list{
    display: none;
}

#header #links{
    position:fixed;
    align-items: center;
    width: 180px;
    bottom: 0;
}

#header #links a {
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 20px;
    border-color: #000000;
    color: #fff;
    text-decoration: none;
}

#navbar {
    padding: 30px 0 0 0;
}
#navbar > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#navbar > ul > li {
    position: relative;
    white-space: nowrap;
}

#navbar > ul > li > a, #navbar > ul > li > a:focus {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}
#navbar > ul > li > a i, #navbar > ul > li > a:focus i {
    font-size: 24px;
    padding-right: 8px;
    color: #6f7180;
}
#navbar > ul > li > a:hover, #navbar > ul > li:hover > a i{
    text-decoration: none;
    color: #fff;
}
#home{
    width: 100%;
    height: 100vh;
    background: url("../img/background.jpg") top center;
    background-size: cover;
}
.homecontainer {
    display: flex;
    align-items: center;
    width: 700px;
    min-height: 400px;
    border-radius: 150px;
    background:rgba(0,0,0, 0.7);
    animation: moving 4s;
}

@keyframes moving {
    0%{margin-left: 400px; opacity: 0;}
    100%{margin-left:0px; opacity: 1;}
}

.container{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.container.active{
    transform: translateY(0);
    opacity: 1;
}

.home_name {
    margin-top: 20px;
    margin-right:30px;
    padding-right: 40px;
    font-size: 35px;
    font-weight: 700;
    text-size-adjust: 30%;
    color: #fff;
}
#home p {
    color: #fff;
    margin-bottom: 35px;
    font-size: 30px;
    font-family: "Special Elite", monospace;
  }
.section-img {
    max-height: 200px;
    margin: 20px;
    border-radius: 100%;
}

#typed-script{
    margin-right: 30px;
}

#typed-script::after{
    content: '|';
    margin-left: 0px;
    opacity: 1;
    animation: pipe .9s infinite;
}
@keyframes pipe {
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
section {
    overflow: hidden;
    width: 100%;
}
.section-bg_grey {
    padding: 80px 0;
    background: #bdbdbd;
}
.section-bg_white {
    padding: 80px 0;
    background: #ffffff;
}
.section-title {
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
    font-family: "Special Elite", monospace;
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    color: #1f1f1f;
}
.section-title::after {
    content: "";
    position: absolute;
    display: block;
    width: 300px;
    height: 3px;
    background: #1d1d1d;
}
.objective {
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: "Special Elite", monospace;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #1f1f1f;
}
.description{
    padding-bottom: 10px;
    font-size: 15px;
    text-align:justify;
    font-weight: bold;
    font-family: "Special Elite", monospace;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #1f1f1f;
}
.about .content ul {
    list-style: none;
    padding: 0;
}
.about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.about .content ul strong {
    margin-right: 10px;
}
.about .content ul i {
    margin-right: 10px;
}
.button-link-linkedin{
    border-color: transparent;
    background-color: transparent;
    color: #0082ca;
    size-adjust: 90px;
}
.resume-containers{
    padding: 0 0 20px 20px;
    max-width: 550px;
    margin-top: -2px;
    border-left: 5px solid #1f1f1f;
    position: relative;
}
.resume-containers h5{
    font-family: "Special Elite", monospace;
    color:  #1f1f1f;
    font-size: 18px;
    font-weight: bold;
}
.resume-containers::before{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    content: "";
    position: absolute;
    left: -15px;
    top: 0;
    border: 4px solid #bdbdbd;
    background: #1f1f1f;
}
.section-subtitle {
    padding-bottom: 10px;
    margin-top: 30px;
    font-size: 33px;
    font-weight: bold;
    font-family: "Special Elite", monospace;
    margin-bottom: 20px;
    padding-bottom: 10px;
    color: #1f1f1f;
}

.resume-container-title{
    font-size: 25px;
    color: #1f1f1f;
    font-family: "Special Elite", monospace;
}

.resume-container-date{
    color: #1f1f1f;
    font-weight: bold;
    font-family: 'Courier New';
    font-size: 13px;
}

.resume-container-localization{
    color: #1f1f1f;
    border-bottom: #1f1f1f;
    font-weight: bold;
    font-family: 'Courier New';
    font-size: 18px;
}

.resume-container-certification{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    background-color:#3a3a3a;
    transition: all, 300ms ease;
}

.resume-container-certification:hover{
    background-color: #ffffff;
    border: 1px solid #3a3a3a;
}

.resume-container-certification:hover>a{
    color: #1f1f1f;
}

.resume-container-certification>a{
    font-size: 20px;
    color:#bdbdbd;
    font-family: "Special Elite", monospace;
}

.description-resume{
    font-size: 14px;
    color: #1f1f1f;
    font-weight: bold;
    margin-top: 15px;
    font-family: "Special Elite", monospace;
    text-align:justify;
}
li::marker{
    color: transparent;
}
.skills-countainers{
    justify-content: center;
    padding: 0 0 20x 0;
    max-width: 100%;
    margin-top: 10px;
    position: relative;
}

.skills-container-title{
    margin: 0px;
    display: flex;
    text-align: center;
    font-size: 25px;
    margin-right: 5px;
    color: #1f1f1f;
    font-family: "Special Elite", monospace;
}

.skills-countainers .content{
    display:block;
    width: 500px;
    margin-right: 30px;
    
}

.skills-countainers ul li{
    margin-bottom: 40px;
}

.percent{
    margin: 0px;
    font-size: 20px;
    font-family: "Special Elite", monospace;
    color: #949494;
}

.skills-progress{
    width: 500px;
    height: 12px;
    background-color:#bdbdbd;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.skills-progress-bar{
    width: 500px;
    height: 12px;
    background-color: #3a3a3a;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.skills-itens{
    display: flex;
}

.skills-icon{
    width: 25px;
    height: 25px;
    display:inline;
    margin-right: 5px;
}
.project-link{
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #6e6e6e;
    border: 6px solid #ffffff;
    border-radius: 40px;
    white-space: nowrap;
    transition: all, 300ms ease;
}

.project-link:hover{
    background-color: #ffffff;
    border: 6px solid #3a3a3a;
}

.project-link:hover>.portfolio-button{
    color: #1f1f1f;
}

.project-icon{
    display: flex;
    align-items: center;
    width: 50px;
    border-radius: 35px;
    height: 50px;
}

.portfolio-button{
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 20px;
    height: 60px;
    color:#ffffff;
    font-size: 150%;
    margin-bottom: 0px;
    font-family: "Special Elite", monospace;
    transition: all, 300ms ease;
}

.portfolio-button:hover{
    color:#3a3a3a;
}

a:-webkit-any-link{
    text-decoration:none;
}

.icon{
    margin-right: 5px;
    margin-top: 5px;
}

.contacts{
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.contact{
    display: flex;
    justify-content: center;
}

#portfolio_section{
    width: 100%;
    height: 150px;

}

.title_portfolio{
    height: 130px;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #3a3a3a;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-bottom: 50px;
    
}

.title_portfolio h1{
    color: #ffffff;
    font-family: "Special Elite", monospace;
    font-size: 45px;
}

form li{
    display: flex;
    justify-content: center;
    padding: 15px;
}

.item_portfolio{
    max-width: 1200px;
    min-height: 465px;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    animation: movingportfolio 5s;
}

@keyframes movingportfolio {
    0%{margin-top: 400px; opacity: 0;}
    100%{margin-top:0px; opacity: 1;}
}

.content_portfolio{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.item_name{
    padding-bottom: 10px;
    text-align: center;
    font-family: "Special Elite", monospace;
}

.portfolio_img{
    min-width: 500px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.description_port{
    min-width: 500px;
    width: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: #3a3a3a;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}

.description_item{
    text-align: justify;
    font-family: "Special Elite", monospace;
}
.git_button{
    border: 1px solid #ffffff;
    background-color: #3a3a3a;
}

.git_button>i{
    color:#ffffff;
}

.git_button:hover{
    background-color: #bdbdbd;
    border: 1px solid #3a3a3a;
}

.git_button:hover>i{
    color: #1f1f1f;
}
}


@media(max-height: 550px) and (min-width: 900px) and (max-width: 1450px){

#navbar {
    padding: 0px;
}
#navbar * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.text-light{
    margin-left: 10px;
    font-size: 20px;
}
#navbar > ul > li {
    position: relative;
    white-space: nowrap;
}
#navbar a, #navbar a:focus {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 4px 5px;
    margin-bottom: 4px;
    transition: 0.3s;
    font-size: 12px;
}
#navbar a i, #navbar a:focus i {
    font-size: 12px;
    padding-right: 8px;
    color: #6f7180;
}
#navbar a:hover, #navbar li:hover > a i{
    text-decoration: none;
    color: #fff;
}
}

/****************************************************************************************************************/
body{
    background-color: #bdbdbd;
}

.skills-container-header{
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}